.footer {
    width: 100%;
    pointer-events: none;
}

.header {
    position: static;
    width: 100%;

    z-index: -1;
    pointer-events: none;
}

.mainDiv {
    margin: 0px;
    padding: 0px;
    background-color: rgb(245,220,224);
    min-height: 100vh;
}

.contentDiv {
    min-height: 50vh;
    padding: 1%;
    margin-bottom: 70px;
}