@font-face {
    font-family: "displayCard";
    src: url("../Fonts/DK\ Sugary\ Pancake.otf")
}

.artCardDiv {
    display: flex;
    justify-content: center;
}

.artCardImage {
    height: 300px;
    width: 300px;

    border: solid;
    border-color: rgb(228,160,183);
    border-width: 5px;
}

.artCardImageMultiple {
    position: relative;
    overflow: hidden;
}

.artCardImageMultipleOverlay {
    position: absolute;

    right: 5px;
    bottom: 8px;

    width: 20%;
    height: calc(100% - 13px);
    background-color: grey;
    opacity: 0.8;
}

.artCardImageMultipleOverlayText {
    color: white;
    font-family: "displayCard";
    font-size: 25px;
    font-weight: bold;
    
    text-align: right;
    margin-right: 15%;
}