@font-face {
    font-family: "displayCard";
    src: url("../Fonts/DK\ Sugary\ Pancake.otf")
}

*, html {
    margin: 0px;
}

.mainNavBar {
    position: sticky;
    align-self: auto;

    top: 0;
    display: flex;
    align-items: center;

    justify-content: space-between;

    flex-direction: row;
    width: 100vw - 10px;
    height: 4vh;

    padding:  10px;

    background-color: rgb(238,144,177);

    overflow:auto;
}

.navbarName {
    color:white;
    font-size:2.5lvb;
    float: left;
    font-family: "displayCard";

    -webkit-font-smoothing: antialiased !important;

    margin-left: 2vw;

    background-color:rgb(234,82,154);
    border-radius: 10px;

    padding: 5px;
}

.navbarNavigation {
    width: 40%;
    min-width: 400px;

    display: flex;
    justify-content:space-around;
    margin-right: 2vw;

    justify-self: right;

    align-items: center;
}

.navbarLink {
    color:white;
    font-size:2.5lvb;
    float: right;
    font-family: "displayCard";
    line-height: 100%;

    opacity: 100%;

    -webkit-font-smoothing: antialiased !important;

    word-break: break-all;
}


.loginHeader {
    display: flex;
    flex-direction: column;
    float: right;
    font-family: "displayCard";
}

.loginTitle {
    font-family: "displayCard";
    color: white;

    height: fit-content;
    margin-bottom: 10px;
}

.loginText {
    display: flex;
    float: right;
    justify-content: right;
    font-family: "displayCard";
    font-size: 35px;
    color: white;
}

.logoutText {
    display: flex;
    float: right;
    font-family: "displayCard";
    font-size: 35px;
    color: white;

    background-color:rgb(234,82,154);
    border-radius: 10px;

    margin-bottom: 10px;
    padding: 5px;
}

.logoutButtonB {
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: "displayCard";
    /*input has OS specific font-family*/
    color: white;
    text-decoration: underline;
    cursor: pointer;
    font-size:2.5lvb;
    float: right;

    background-color:rgb(234,82,154);
    border-radius: 10px;
    padding: 10px;
}

.logoutButtonB:hover {
    color:blue;
}

.navbarLink:hover{
    opacity: 75%
}

.navbarSignUpLink {
    display: flex;

    margin-top: 10px;
}

.navbarSignUpInput {
    margin-top: 5%;
}


.navbarSignUpEmailWarning {
    color: red;
}

.navbarSignUpSubmit {
    margin-top: 5%;
}